---
http_interactions:
- request:
    method: post
    uri: "<ATHENA_BASE_URL>/oauth2/v1/token"
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=athena%2Fservice%2FAthenanet.MDP.%2A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MG9hODQ1d2g3alRnWlZndzMyOTc6aGdTemJBSFVZX1VIdUp6Vnh5bGppY3M1d05Sc1VsLTA2MjU3UWczQw==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      authorization:
      - Basic MG9hODQ1d2g3alRnWlZndzMyOTc6aGdTemJBSFVZX1VIdUp6Vnh5bGppY3M1d05Sc1VsLTA2MjU3UWczQw==
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '4'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","access_token":"4zxhxEDfLR295w415fVFII6ZzEUm","scope":"athena/service/Athenanet.MDP.*"}'
  recorded_at: Mon, 01 May 2023 19:27:02 GMT
- request:
    method: get
    uri: "<ATHENA_BASE_URL>/v1/195900/departments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4zxhxEDfLR295w415fVFII6ZzEUm
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      accept-ch:
      - Sec-CH-UA-Platform-Version
      nncoection:
      - close
      x-ratelimit-limit:
      - '50000'
      x-ratelimit-remaining:
      - '49942'
    body:
      encoding: UTF-8
      string: '{"totalcount":31,"departments":[{"timezoneoffset":-5,"state":"MA","placeofservicefacility":false,"latitude":"34.25597","departmentid":"1","address":"311
        arsenal street","placeofservicetypeid":"11","longitude":"-85.17026","clinicals":"ON","timezone":-4,"name":"Cruickshank
        HEALTH CARE","patientdepartmentname":"Rome Office - this is a test to see
        how long this field actually is. 75 ch","chartsharinggroupid":"42","placeofservicetypename":"OFFICE","zip":"02472-2785","timezonename":"America\/New_York","communicatorbrandid":"1","medicationhistoryconsent":false,"ishospitaldepartment":false,"providergroupid":"1","portalurl":"1959-1.portal.athenahealth.com","city":"WATERTOWN","servicedepartment":true,"fax":"72009333688608","providergroupname":"7
        Hills Medical Group","doesnotobservedst":false,"federaltaxid":"332628371","phone":"(555)
        004-0271","ecommercecreditcardtypes":["AX","DS","MC","VI"]},{"creditcardtypes":["AX","DS","MC","VI"],"timezoneoffset":-5,"singleappointmentcontractmax":"3000","state":"GA","placeofservicefacility":false,"latitude":"34.1649","departmentid":"21","address":"APT.
        159 104 GLENNIE FIE","placeofservicetypeid":"11","longitude":"-84.79669","clinicals":"ON","timezone":-4,"name":"MacGyver
        MED GROUP","patientdepartmentname":"Cartersville Office-","chartsharinggroupid":"42","placeofservicetypename":"OFFICE","timezonename":"America\/New_York","communicatorbrandid":"1","medicationhistoryconsent":false,"ishospitaldepartment":false,"providergroupid":"1","portalurl":"1959-1.portal.athenahealth.com","city":"","servicedepartment":true,"oneyearcontractmax":"1500","providergroupname":"7
        Hills Medical Group","doesnotobservedst":false,"federaltaxid":"332628371","ecommercecreditcardtypes":["AX","DS","MC","VI"]},{"medicationhistoryconsent":false,"timezoneoffset":-5,"ishospitaldepartment":false,"providergroupid":"22","state":"MA","portalurl":"https:\/\/1959-1.portal.athenahealth.com\/","city":"","placeofservicefacility":false,"servicedepartment":true,"providergroupname":"6
        Hills Medical Associates","doesnotobservedst":false,"departmentid":"82","address":"APT.
        417 078 EUDORA EXTE","placeofservicetypeid":"11","clinicals":"ON","timezone":-4,"patientdepartmentname":"Six
        Hills","chartsharinggroupid":"41","name":"Murazik HEALTH CARE","placeofservicetypename":"OFFICE","clinicalproviderfax":"(701)
        712-4273","timezonename":"America\/New_York","communicatorbrandid":"21"},{"creditcardtypes":["AX","DS","MC","VI"],"timezoneoffset":-6,"singleappointmentcontractmax":"3000","state":"CO","placeofservicefacility":true,"departmentid":"102","placeofservicetypeid":"22","clinicals":"ON","timezone":-5,"name":"Blick
        HEATLH INC","patientdepartmentname":"Cardiology Consults for 7 Hills","chartsharinggroupid":"42","placeofservicetypename":"ON
        CAMPUS-OUTPATIENT HOSPITAL","timezonename":"America\/Chicago","communicatorbrandid":"1","medicationhistoryconsent":false,"ishospitaldepartment":false,"providergroupid":"1","portalurl":"1959-1.portal.athenahealth.com","city":"","servicedepartment":true,"oneyearcontractmax":"1500","providergroupname":"7
        Hills Medical Group","doesnotobservedst":false,"federaltaxid":"332628371","address2":"100
        MAIN ST","ecommercecreditcardtypes":["AX","DS","MC","VI"]},{"medicationhistoryconsent":false,"timezoneoffset":-5,"ishospitaldepartment":false,"providergroupid":"2","state":"CT","portalurl":"https:\/\/1959-1.portal.athenahealth.com\/","city":"","placeofservicefacility":false,"servicedepartment":true,"providergroupname":"BLACKSTONE
        VALLEY MEDICAL GROUP","doesnotobservedst":false,"departmentid":"142","address":"797
        HEATH RIVER, NEW DER","placeofservicetypeid":"11","fede[...]
