---
http_interactions:
- request:
    method: post
    uri: "<ATHENA_BASE_URL>/oauth2/v1/token"
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=athena%2Fservice%2FAthenanet.MDP.%2A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MG9hODQ1d2g3alRnWlZndzMyOTc6aGdTemJBSFVZX1VIdUp6Vnh5bGppY3M1d05Sc1VsLTA2MjU3UWczQw==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      authorization:
      - Basic MG9hODQ1d2g3alRnWlZndzMyOTc6aGdTemJBSFVZX1VIdUp6Vnh5bGppY3M1d05Sc1VsLTA2MjU3UWczQw==
      x-ratelimit-limit:
      - '5'
      x-ratelimit-remaining:
      - '1'
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","access_token":"bwquknMfgFETPXjGcnrzlNNP73GK","scope":"athena/service/Athenanet.MDP.*"}'
  recorded_at: Mon, 07 Aug 2023 16:00:05 GMT
- request:
    method: get
    uri: "<ATHENA_BASE_URL>/v1/195900/departments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bwquknMfgFETPXjGcnrzlNNP73GK
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      accept-ch:
      - Sec-CH-UA-Platform-Version
      cneonction:
      - close
      x-ratelimit-limit:
      - '50000'
      x-ratelimit-remaining:
      - '49921'
    body:
      encoding: UTF-8
      string: '{"departments":[{"ecommercecreditcardtypes":["AX","DS","MC","VI"],"placeofservicetypename":"OFFICE","zip":"02472-2785","phone":"(555)
        004-0271","providergroupid":"1","timezonename":"America\/New_York","federaltaxid":"332628371","timezoneoffset":-5,"name":"Cruickshank
        HEALTH CARE","latitude":"34.25597","address":"311 arsenal street","city":"WATERTOWN","servicedepartment":true,"departmentid":"1","providergroupname":"7
        Hills Medical Group","placeofservicetypeid":"11","patientdepartmentname":"Rome
        Office - this is a test to see how long this field actually is. 75 ch","medicationhistoryconsent":false,"ishospitaldepartment":false,"communicatorbrandid":"1","clinicals":"ON","state":"MA","chartsharinggroupid":"42","fax":"72009333688608","placeofservicefacility":false,"portalurl":"1959-1.portal.athenahealth.com","doesnotobservedst":false,"timezone":-4,"longitude":"-85.17026"},{"ecommercecreditcardtypes":["AX","DS","MC","VI"],"placeofservicetypename":"OFFICE","providergroupid":"1","timezonename":"America\/New_York","federaltaxid":"332628371","timezoneoffset":-5,"name":"MacGyver
        MED GROUP","latitude":"34.1649","address":"APT. 159 104 GLENNIE FIE","city":"","servicedepartment":true,"departmentid":"21","singleappointmentcontractmax":"3000","providergroupname":"7
        Hills Medical Group","oneyearcontractmax":"1500","placeofservicetypeid":"11","patientdepartmentname":"Cartersville
        Office-","medicationhistoryconsent":false,"ishospitaldepartment":false,"communicatorbrandid":"1","clinicals":"ON","creditcardtypes":["AX","DS","MC","VI"],"state":"GA","chartsharinggroupid":"42","placeofservicefacility":false,"portalurl":"1959-1.portal.athenahealth.com","doesnotobservedst":false,"timezone":-4,"longitude":"-84.79669"},{"placeofservicetypename":"OFFICE","providergroupid":"22","timezonename":"America\/New_York","timezoneoffset":-5,"name":"Murazik
        HEALTH CARE","clinicalproviderfax":"(701) 712-4272","address":"APT. 417 078
        EUDORA EXTE","city":"","servicedepartment":true,"departmentid":"82","providergroupname":"6
        Hills Medical Associates","placeofservicetypeid":"11","patientdepartmentname":"Six
        Hills","medicationhistoryconsent":false,"ishospitaldepartment":false,"communicatorbrandid":"21","clinicals":"ON","state":"MA","chartsharinggroupid":"41","placeofservicefacility":false,"portalurl":"https:\/\/1959-1.portal.athenahealth.com\/","doesnotobservedst":false,"timezone":-4},{"address2":"100
        MAIN ST","ecommercecreditcardtypes":["AX","DS","MC","VI"],"placeofservicetypename":"ON
        CAMPUS-OUTPATIENT HOSPITAL","providergroupid":"1","timezonename":"America\/Chicago","federaltaxid":"332628371","timezoneoffset":-6,"name":"Blick
        HEATLH INC","city":"","servicedepartment":true,"departmentid":"102","singleappointmentcontractmax":"3000","providergroupname":"7
        Hills Medical Group","oneyearcontractmax":"1500","placeofservicetypeid":"22","patientdepartmentname":"[...]
